[Desktop Entry]
Name=Audacious
Comment=Play music
Comment[hu]=Zene lejátszása
Exec=audacious
Icon=audacious.png
MimeType=audio/x-ms-wma;audio/alac;audio/x-musepack;
Categories=GTK;AudioVideo;Player;
Terminal=false
Type=Application
NoDisplay=true
